<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ruim</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="mensagem">
            <h1>Ruim</h1>
            <p th:text="${session.score}" th:unless="${session == null}"></p>
            <p>Desculpa! Volte!</p>
        </div>
        <p><a href="/"><< Voltar para o formulário</a></p>
    </body>
</html>